.apply_button{
    background-color: #fff;
    color: #458FF6;
    border: 2px solid #458FF6;
    padding: 18px 45px;
    border-radius: 45px;
    font-size: 20px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: 150px;
    height: 36px;
    font-family: Innova, sans-serif;
}